.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-holder {
}

.input-field {
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ease;
}
.input-field:hover,
.input-field:focus {
  box-shadow: 1px 2px 3px #8892b0;
  transition: all 0.5s ease;
}

.btn {
  font-size: 1.5em;
  padding: 0.53em;
  border-radius: 10px;
  outline: none;

  margin-left: 5px;
  transition: all 0.3s ease;
}
.name {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}
.btn:hover,
.btn:focus {
  background: #0a192f;
  color: #ccd6f6;
  transition: all 0.3s ease;
  box-shadow: 1px 2px 3px #8892b0;
}

.image {
  width: 200px;
  height: auto;
  border-radius: 150px;
  border: 10px solid #172a45;
  margin-top: 2rem;
}

.login a {
  color: #69d2c2;
  text-decoration: underline;
  padding: 0;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}
.login:hover,
.login:focus {
  cursor: pointer;
}
.location-time {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  margin-right: 5px;
}
.time {
  margin-left: 5px;
}
.popularity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popularity h3 {
}

.disp {
  padding: 16px 8px;
  margin: 0.5em;
  color: #809ea8;
  background: #24292e;
  border-radius: 8px;
}
.intro {
  font-size: 24px;
}

.intro-val {
  font-size: 12px;
}
